body {
    background-color:dimgray
}

div {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: fantasy;
}
    
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
nav li {
    float:left;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-style: italic;
    font-size: 20px;
  }

nav li a:hover {
    background-color: #111;
  }

nav .active {
    background-color: #4CAF50;
  }

#content{
    background-color: blanchedalmond;
}

#exhibit{
  margin: auto;
  display: grid;
  grid-gap: 10px;
  font-size: 10px;
  grid-template-columns: repeat(4, 275px); 
}

#grid_cell {
  align-self: baseline;
  text-align: left;
}
